* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 3%, rgba(27, 27, 90, 1) 39%, rgba(9, 9, 121, 1) 68%, rgba(0, 0, 0, 1) 100%);
}

.wrapper {
    width: 100%;
    min-height: 100vh;
   
}
.footer{
    margin: auto;
    position: absolute;
    bottom: 5%;
    left:50%;
    transform: translateX(-50%);
    color: rgb(143, 138, 138)!important;
}

.talk {
    width: 250px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 1.5rem;
    background-blend-mode: multiply;
    border: 2px solid #fff;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    cursor: pointer;
    border-radius: 5px;
}

.content {
    margin: auto;

}
.info{
    color:rgb(200, 188, 188);
    position: absolute;
    bottom: 10%;
    left:50%;
    transform: translateX(-50%);
}

.response {
    animation-name: popUp;
    animation-duration: 4s;
    transition: ease-in;
}

@keyframes popUp {
    0% {
        color: white;
        transform: translateY(-20px);
    }

    50% {
        color: rgb(223, 97, 97);
        transform: translateY(-10px);
    }

    100% {
        color: rgb(255, 0, 0);
        transform: translateY(0);
    }
}